@charset "utf-8";
/* CSS Document */


 body {
	height: 100%;
    padding: 0;
    margin: 0;
}

#contenedor {
	width: 480px;
	height:800px ;
	position: absolute;
	background:  url('./img/fondo.png') top repeat-x;
}

#titulo {
	background: linear-gradient(#cd6723, #bb482d);
	background: -moz-linear-gradient(#cd6723, #bb482d);
	background: -webkit-linear-gradient(#cd6723, #bb482d);
	height: 5rem;
	color: rgb(255, 255, 255);
}

#titulo h1 {
	font-size: 2rem;
	text-align: left;
	color: #fff;
	display: block;
	margin: 0;
	padding: 1rem 1rem 1rem 1.5rem;
	height: 100%;
}


#navegador {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 4rem;
	background: linear-gradient(#2c393b, #202829);
}

#navegador ul {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	clear:both;
}

#navegador ul li.separador {
	float:left;
	width: 33%;
	height: 100%;
	border-right: 1px solid whitesmoke;
}

#navegador ul li a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: rgb(255, 255, 255);
	outline: none;
	text-decoration: none;
	padding: 1.1rem 0 0;
	
}

#navegador ul li a:hover {
	color: #00aacc;
}




